body {
    max-width: 350px;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    background-color: rgb(255, 187, 199);
}

img{
    margin: 0 auto;
    padding: 10%
}

h1 {
    color:white;
    font: Arial;
}

main p1, p3{
    color: white;
    display: block;
    font: Helvetica;
}

main p2{

}

main p3{
    color: white;
    display: block;
    font: Helvetica;
}

main p4{

}

footer p1 {
    font: sans-serif;
    font-size: 1.0em;
}

footer p2 {
    font: sans-serif;
    font-size: 1.0em;
}