head {
    text-align: center;
}

body {
    max-width: 100px;
    margin: 0 auto;
    font-size: 10em;
    text-align: center;
    background-color: pink;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 150px;
    width: 80%;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

main p {
    width: 50%;
    text-align: center;
    color: black;
}

footer p {
    text-align: center;
    color: black;
}