header {
    text-align: center;
    font: Arial
}

body {
    max-width: 100px;
    margin: 0 auto;
    font-size: 10px;
    text-align: center;
    background-color: pink;
    font: Arial
}

img {
    display: block;
    margin: 0 auto;
    max-width: 150px;
    width: 80%;
}

h1 {
    text-align: center;
    font: Arial;
}

h2 {
    text-align: center;
    font: sans-serif;
}

main p {
    width: 50%;
    text-align: center;
    color: black;
    display: block;
    font: Helvetica;
}

footer p {
    text-align: center;
    color: black;
    font: sans-serif;
}